nav.main {
  background-color: #333;
  color: white;
}
nav.main ul {
  list-style: none;
  display: flex;
}

nav.main li {
  padding: 12px 16px 8px 16px;
  margin: 5px;
  border-bottom: 3px solid transparent;
  transition: 0.7s ease-in-out;
}
nav.main li:nth-of-type(1) {
  margin-left: 15px;
}
nav.main li:hover {
  border-bottom: 3px solid yellow;
  cursor: pointer;
}
