* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 70vw;
}
fieldset {
  padding: 2rem;
  border-radius: 20px;
}
legend {
  margin: 15px;
  text-align: center;
}
